@import url('reset.css');

body{
	background-color: #f6f6f6;
	padding-top: 50px;
	font-family: Verdana;
	line-height: 1.6;
}

.intext{
	width: 650px;
	height: 150px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 auto 50px auto;
}

h1{
	color: purple;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

p{
	color: #333;
	line-height: 1.6;
}

ul{
	display: flex;
	justify-content: center;
}

li{
	flex-basis: 200px;
	margin: 0 30px;
}

img{
	width: 100%;
}

img:hover{
	filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
}







