@import url('reset.css');

body{
  font-family: Heiti TC, Microsoft JhengHei, Arial;
  padding: 20px;
}

h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

img{
  display: block;
  float: left;
  margin-right: 10px;
}

p{
  line-height: 1.6;
}

@media screen and (max-width: 414px){
  h1{
    font-size: 32px;
  }
  img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px){
  body{
    padding: 10px;
  }
  h1{
    font-size: 28px;
  }
  img{
    margin-bottom: 10px;
  }
}













