@import url('reset.css');

body{
	background-color: #f6f6f6;
	padding-top: 50px;
}

a{
	display: block;
	width: 300px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: darkred;
	margin: 0 auto;
	font-family: Verdana;
	border-radius: 5px;
}

a:hover{
	background-color: green;
}

a:active{
	background-color: blue;
}
