@import url('reset.css');

body{
	font-family: 'Ubuntu', sans-serif;
	background-color: #f6f6f6;
}

.out{
	background-image: url(main_bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 1200px;
	height: 800px;
	margin: 0 auto;
	padding-top: 1px;
}

.main{
	width: 1200px;
	height: 540px;
	margin-top: 50px;
	color: white;
	overflow: hidden;
	/* outline: 3px solid red; */

	position: relative;
}

h1{
	font-size: 150px;
	font-family: 'Kanit', sans-serif;
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);

	position: absolute;
	left: 170px;
	top: 80px;

	opacity: 0;
}

h2{
	font-size: 150px;
	font-family: 'Kanit', sans-serif;
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);

	position: absolute;
	left: 110px;
	top: 180px;

	opacity: 0;
}

h3{
	font-size: 30px;

	position: absolute;
	left: 120px;
	top: 330px;

	opacity: 0;
}

a{
	display: block;
	line-height: 50px;
	width: 150px;
	text-align: center;
	border-radius: 25px;
	background-color: #3954d9;
	color: white;
	text-decoration: none;

	position: absolute;
	left: 260px;
	top: 400px;

	opacity: 0;
}

/*------------ Animation ------------*/
h1{
	animation: bigTitleA .5s cubic-bezier(0,.39,.22,1.39) forwards;
}

h2{
	animation: bigTitleB .5s .3s cubic-bezier(0,.39,.22,1.39) forwards;
}

h3{
	animation: subTitle .3s .5s ease-out forwards;
}

a{
	animation: btn .5s .8s forwards;
}

@keyframes bigTitleA{
	0%{ transform: translateX(-170px); opacity: 0; }
	100%{ transform: translateX(0px); opacity: 1; }
}

@keyframes bigTitleB{
	0%{ transform: translateX(-110px); opacity: 0; }
	100%{ transform: translateX(0px); opacity: 1; }
}

@keyframes subTitle{
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}

@keyframes btn{
	0%{
		background-color: white;
		box-shadow: 0 0 5px 10px rgba(255,255,255,.5);
		transform: scale(2);
		opacity: 0;
	}
	100%{
		background-color: #3954d9;
		box-shadow: none;
		transform: scale(1);
		opacity: 1;
	}
}






