@import url("reset.css");

body{
    font-family: Arial, '微軟正黑體';
    background-color: #f6f6f6;
    color: #333;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 5em;
    font-family: 'Squada One', cursive;
    letter-spacing: 10px;
    padding-bottom: 20px;
}

h2{
    font-size: 1.5em;
    font-family: 'Jaldi', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #999;
    margin-bottom: 50px;
}

ul{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    outline: 5px solid white;

    display: flex;
}

li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
}

.item1{
    background-image: url(item1_bg.jpg);
    flex-grow: 3;
}

.item2{
    background-image: url(item2_bg.jpg);
    flex-grow: 1;
}

.item3{
    background-image: url(item3_bg.jpg);
    flex-grow: 2;
}

li:hover{
    flex-grow: 5;
}


