* {
    box-sizing: border-box;
}

header.header {
    font-size: 24px;
    width: 100%;
    background-color: #CFAD84;
    z-index: 10;
    /* position: fixed;
    top: 0;
    left: 0; */
}

header.header div.header_list {
    max-width: 1200px;
    height: 78px;
    margin: 0 auto;
}

header.header div.header_list div.header_nav_list{
    display: flex;
    justify-content: space-between;
}

header.header div.header_list .fa {
    display: none;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_left {
    font-size: 0;
    display: flex;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_left > li {
    display: inline-block;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_left > li > a {
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    padding: 26px 20px;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
    font-weight: 700;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right span.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #613C11;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right {
    font-size: 0;
    display: flex;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li {
    display: inline-block;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li>a {
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
    font-weight: 700;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li:nth-child(1) {
    padding: 16.5px 20px;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li:nth-child(2) {
    padding: 16.5px 20px;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li:nth-child(3) {
    padding: 26px 20px;
    vertical-align: top;
}

header.header div.header_list div.header_nav_list ul.header_nav_list_right>li:nth-child(4) {
    padding: 26px 20px;
    vertical-align: top;
}

@media screen and (max-width: 834px) {

    header.header {
        background-color: #fff;
    }

    header.header div.header_list {
        width: auto;
        height: 60px;
        position: relative;
    }

    header.header div.header_list .fa {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    header.header div.header_list div.header_nav_list{
        width: auto;
        height: 100%;
    }

    header.header div.header_list div.header_nav_list ul.header_nav_list_left {
        float: none;
        position: fixed;
        height: 100%;
        width: 400px;
        background-color: rgba(207, 173, 132, 1);
        right: -400px;
        /* right: 0; */
        top: 60px;
        transition: all .5s;
        z-index: 2;
        flex-direction: column;
    }

    header.header div.header_list div.header_nav_list ul.header_nav_list_left > li {
        float: none;
        /* display: block; */
    }

    header.header div.header_list div.header_nav_list ul.header_nav_list_left>li>a {
        color: #613C11;
    }

    header.header div.header_list div.header_nav_list ul.header_nav_list_right {
        float: none;
        position: fixed;
        height: auto;
        width: 400px;
        background-color: rgba(207, 173, 132, 1);
        right: -400px;
        /* right: 0; */
        top: 373px;
        transition: all .5s;
        z-index: 2;
        flex-direction: column-reverse;
    }

    header.header div.header_list div.header_nav_list ul.header_nav_list_right > li {
        float: none;
        display: block;
    }

    header.header div.header_list div.header_nav_list .fa:hover ~ ul{
        right: 0;
    }

}