@import url("reset.css");

body{
    background-color: dimgrey;
    font-family: "微軟正黑體";
}

.wrapper{
    width: 1000px;
    padding: 10px;
    margin: 10px auto 0 auto;
    background-color: #fff;
}

h2{
    font-size: 2em;
    line-height: 1;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    text-indent: .5em;
    border-left: 10px solid #ccc;
    margin-top: 20px;
}

article{
    padding: 10px;
    line-height: 1.6;
    overflow: hidden;
    padding: 10px;
}

/*----- before & after -1 -----*/
.select1{
	padding: 10px;
}

.select1 table{
	border: 3px solid #e5e5e5;
	width: 500px;
	margin: 0 auto;
}

.select1 tr:nth-child(odd){
	background-color: #f6f6f6;
}

.select1 td{
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.select1 p:before{
	content: '姓名：';
	font-size: 13px;
	color: blue;
}

.select1 span:after{
	content: ' - 2 號廠';
	font-size: 13px;
	color: green;
}

/*----- before & after -2 -----*/
.select2{
	padding: 10px;
	margin-top: 10px;
	line-height: 1.6;
}

.select2:before{
	content: "";
	display: block;
	background-color: firebrick;
	width: 20px;
	height: 50px;
	color: white;
	float: left;
	margin-right: 10px;
}

/*----- before & after -3 -----*/
.select3{
	padding: 10px;
	margin-top: 10px;
	line-height: 1.6;
	position: relative;
}

.select3 p{
	margin-left: 170px;
}

.select3:after{
	content: "Facebook";
	display: block;
	width: 150px;
	height: 50px;
	background-color: #3b5998;
	color: white;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	
	position: absolute;
	left: 0;
	top: 10px;
}



footer{
    line-height: 5;
    background-color: #e5e5e5;
    text-align: center;
    width: 1020px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
}























