
body{
  padding: 20px;
  font-family: Heiti TC, Microsoft JhengHei, Arial;
  background-color: #ccc;
}

h1{
  font-size: 48px;
  text-align: center;
}

p{
  line-height: 1.6;
}

/*---------- 螢幕小於 1200 時 ----------*/


/*---------- 螢幕小於 800 時 ----------*/


/*---------- 螢幕小於 600 時 ----------*/










