@import url('reset.css');

body{
    background-image: url(../img/html_fixed_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index{
    width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/top_bg.jpg);
    height: 500px;
}

.banner{
    border-left: 5px solid orange;
    margin-left: 70px;
    display: inline-block;
    margin-top: 110px;
}

.title h1{
    color: white;
    font-size: 80px;
    width: 500px;
    padding-left: 30px;
    padding-top: 10px;
}

.slogan h2{
    color: green;
    font-size: 36px;
    width: 400px;
    padding-left: 30px;
    padding-bottom: 5px;
}

ul{
    box-sizing: border-box;
    background-color: white;
    font-size: 0;
    padding-left: 87px;
    padding-bottom: 100px;
}

li{
    border: 1px solid rgb(176, 176, 176);
    width: 300px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

li h3{
    color: green;
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

li p{
    color: black;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.footer{
    width: 1200px;
    height: 60px;
    background-color: #272727;
    margin: 0 auto;
}

.footer p{
    color: white;
    text-align: center;
    line-height: 60px;
}