@import url("reset.css");

body{
    background-image: url(../img/html_bg.png);
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-family: Candara, Arial, sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}

#wrapper{
    width: 990px;
    margin: 0 auto;
}

/*====================== 上層選單 ======================*/


/*====================== 中間大圖 ======================*/


/*====================== 圖片區 ======================*/


/*====================== 看更多(more)長條 ======================*/


/*====================== 大標 ======================*/


/*====================== 圖+文區 ======================*/


/*====================== 地圖 ======================*/


/*====================== 頁尾 ======================*/
footer{
    font-size: 13px;
    padding: 30px 0;
    text-align: center;
}




