@import url("reset.css");

body{
    background-image: url(html_bg.jpg);
    background-position: center top;
    background-size: cover;
    line-height: 1.4;
    font-family: Arial;
    font-size: 13px;
    padding-top: 50px;
}










