@import url("reset.css");

body{
    background-image: url(html_bg.png);
    padding-top: 100px;
    font-family: Verdana;
    color: #666;
}

.wrapper{
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;

    display: flex;
}


.item-1{
    flex-grow: 1;
    /*order: 2;*/
}

.item-1 img{
    display: block;
}



.item-2{
    flex-grow: 1;
    background-color: #f6f6f6;
    padding: 50px 0 0 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*order: 1;*/
}

.item-2 h2{
    color: #ccc;
    letter-spacing: 10px;
    /*order: 3;*/
}

.item-2 h1{
    font-size: 2.3em;
    /*order: 2;*/
}

.item-2 p{
    line-height: 1.6;
    /*order: 5;*/
}

.item-2 .btn-1{
    /*order: 1;*/
}

.item-2 .btn-2{
    /*order: 4;*/
}

.item-2 *{
    margin-bottom: 30px;
}











