@import url('reset.css');

body{
	line-height: 1.6;
	font-family: Verdana, Microsoft JhengHei;
	padding-top: 50px;
}

.sel{
  width: 800px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  background-image: linear-gradient(180deg, #fff 0%, #e5e5e5 98%, #fff 98%, #fff 100%);
  display: flex;
}

.sel li{
  flex-grow: 1;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-right: 1px solid #e5e5e5;
}

.sel li:hover{
  background-color: #666;
  color: white;
}

.picWrapper{
  width: 800px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  position: relative;
}

.pics{
  display: flex;
  transition: all .5s;
  position: relative;
  left: 0;
}

.pics li{
  flex-shrink: 0;
}

.btnNow{
  background-color: #666;
  color: white;
}

















