@import url("reset.css");

body{
    background-image: url(html_bg.png);
    line-height: 1.4;
    font-family: Verdana;
    color: #333;
    padding-top: 30px;
}

.wrapper{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.head{
    background-image: url(big_pic.jpg);
    height: 300px;
    background-position: center center;
    
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head h1{
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.head p{
    font-size: 2em;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.main{
    background-image: url(down_bg.png);
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main li{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin: 0 10px;

    flex-basis: 300px;
}

.main img{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.main p{
    font-size: 0.8em;
    line-height: 1.6;
    padding: 10px;
}
















