@import url('reset.css');

body{
  font-family: Heiti TC, Microsoft JhengHei, Arial;
  background-color: #e5e5e5;
  color: #333;
}

.top{
  background-color: #d1c0a5;
  box-shadow: 0 3px 5px rgba(0,0,0,.5);
  position: relative;
  z-index: 10;
}

.topMain{
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.topMain img{
  float: left;
  height: 60px;
  margin-top: 10px;
}

.topMain ul{
  float: right;
}

.topMain li{
  float: left;
  line-height: 80px;
}

.topMain .fa{
  display: none;
}

.topMain a{
  display: block;
  text-align: center;
  color: #362e2b;
  text-decoration: none;
  padding: 0 20px;
}

.topMain a:hover{
  color: white;
  background-color: #a6937c;
}


.kv{
  background-image: url(main_pic.jpg);
  background-size: cover;
  background-position: center bottom;
}

.kvMain{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kvMain h1{
  color: white;
  font-size: 4em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.kvMain h2{
  color: rgba(255,255,255,.7);
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}


/*-------------------- 414 ---------------------*/
@media screen and (max-width: 414px) {
  .topMain{
    width: auto;
    height: 60px;
    position: relative;
  }
  .topMain img{
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .topMain .fa{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .topMain ul{
    float: none;
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #7e6b5a;
    right: -300px;
    top: 60px;
    transition: all .5s;
  }
  .topMain li{
    float: none;
  }
  .topMain a{
    color: white;
  }
  .topMain .fa:hover ~ ul{
    right: 0;
  }

  .kvMain{
    width: auto;
    height: 300px;
  }
  .kvMain h1{
    font-size: 2em;
    margin-bottom: 10px;
  }
  .kvMain h2{
    font-size: 1em;
  }
}













