@import url('reset.css');

body{
	background-color: #eee;
	font-family: Arial;
}

.out{
	width: 1200px;
	background-color: #fff;
	margin: 0 auto;
}

img{
	display: block;
}

/* ------------- table --------------- */

table{
	width: 1000px;
	margin: 0 auto;
	border: 5px solid #eee;
}

tr{}

.list-title{
	background-color: #e01a33;
	color: white;
	text-align: center;
}

.list-no{
	width: 50px;
}

.list-tl{
	text-align: left;
}

td{
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}


