@import url("reset.css");

body{
    background-color: #e5e5e5;
    line-height: 1.6;
    font-family: Verdana;
    color: #333;
    font-size: 13px;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-size: 3em;
    text-align: center;
    padding: 20px;
}





