
@media screen and (max-width: 1200px) {
	
	.out{
		width: auto;
	}

}

@media screen and (max-width: 1000px) {

	.skill{
		flex-direction: column;
	}

	.skill-content{
		order: 2;
	}

	.skill > img{
		order: 1;
	}

}


@media screen and (max-width: 900px) {
	
	.list ul{
		flex-direction: column;
		height: auto;
	}

	.list li{
		padding: 30px;
	}

}

@media screen and (max-width: 800px) {

	header{
		height: 300px;
		background-size: cover;
		background-position: right 0;
		padding-top: 60px;
	}

	.top{
		background-color: rgba(255,255,255,.7);
		height: 60px;
		padding: 0 20px;
		box-sizing: border-box;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}

	.top i{
		display: block;
	}

	.top ul{
		flex-direction: column;
		position: absolute;
		background-color: #fff;
		left: 0;
		top: 60px;
		width: 100%;
		display: none;
	}

	.top i:hover ~ ul{
		display: block;
	}

	.top li{
		margin-left: 0;
	}

	.top li a{
		line-height: 60px;
	}

	.title{
		margin-right: 0;
		margin-top: 20px;
		width: auto;
		padding-left: 50%;
	}

	.title h1{
		font-size: 24px;
		margin-bottom: 10px;
	}

	.title p{
		font-size: 14px;
	}

	.title a{
		width: 150px;
		height: 40px;
		line-height: 40px;
	}

	/* 提前修改 */
	.about{
		padding: 50px 0;
	}

	.about p{
		width: auto;
		padding: 0 30px;
	}

}


@media screen and (max-width: 530px) {

	.title{
		padding-left: 50px;
		padding-right: 50px;
	}

}









