@import url("reset.css");


body{
    background-color: #e5e5e5;
    font-family: '微軟正黑體';
    padding-top: 50px;
}

.wrapper{
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
}











