@import url("reset.css");

body{
    background-image: url(html_bg.jpg);
    background-position: center top;
    font-family: Arial;
    color: white;
    font-size: 15px;
}

ul{
    background-color: rgba(255, 255, 255, .3);
    width: 890px;
    height: 670px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;

}

li{
    margin-right: 15px;
    margin-bottom: 30px;
}

img{
    display: block;
    margin-bottom: 10px;
}

p{
    text-align: center;
}